.home_button_container{
    position: absolute;
    color: rgb(240, 236, 236);
    left: 3%;
    top: 2%;
    background-color: rgb(28, 23, 23);
    padding: 8px 18px;
    border-radius: 15px;
}

.socials_container{
    display: flex;
    font-size: xx-large;
    gap: 1rem;
    background-color: rgb(28, 23, 23);
    position: absolute;
    top: 5%;
    right: 6%;
    padding: 5px 15px;
    border-radius: 10px;
}

/* ==========Media  Queries (medium devices) =============*/

@media screen and (max-width: 1024px) {
    .socials_container{
        top: 4%;
        right: 6%;
    }
 }
 
 /* ==========Media  Queries (small devices) =============*/
 
 @media screen and (max-width: 600px) {
    .socials_container{
        top: 14%;
        right: 24%;
    }
    .home_button_container{
        left: 30%;
    }
 }
